* {
	margin: 0;
	padding: 0;
}

span {
	font-style: italic;
}

#mainav a:link {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	color: #555353;
}

#mainav a:hover {
	color: #555353;
}

#mainav a:visited {
	font-family: Helvetica;
	font-size: 12px;
	color: #555353;
}

a:visited {
	color: black;
}

#mainheader {
	margin-top: 1.5em;
}

#title {
	font-weight: normal;
	color: #d0d7de;
	margin-left: 35px;
	padding: 0 5px 5px 5px;
	font-size: 2.5em;
	background-color: #555353;
	text-shadow: black 0.1em 0.1em 0.2em;
}

#personalInfo ul {
	font-size: 12px;
	list-style-type: none;
	color: #555353;
	margin: 1em 2.5em 2em 3em;
}

#mainav ul {
	list-style-type: none;
	line-height: 33px;
	padding-left: .7em;
}

#mainav li {
	background-image: url(box.png);
	background-repeat: no-repeat;
	padding-left: 2.5em;
	padding-top: 6px;
}

#mainav li:hover {
	background-image: url(openbox.png);
}

#mainav a {
	text-decoration: none;
}

#personalInfo a {
	font-family: Helvetica;
	font-size: 12px;
	color: #555353;
	text-decoration: underlined;
}

#mainav {
	position: absolute;
	left: 2.5em;
	width: 200px;
}

#filesContainer {
	position: absolute;
	left: 200px;
	width: 200px;
	margin-top: 1.5em;
	font-size: 16px;
	margin-left: 7em;
}

#filesContainer th {
	color: #d0d7de;
	padding: .2em;
	background-color: #555353;
}

#filesContainer td {
	text-align: center;
	font-style: italic;
	background-color: #f2faff;
	padding: .2em;
}

#op {
	text-align: center;
	font-style: normal;
	padding: .2em;
}

footer {
	position: fixed;
	bottom: 10px;
	font-size: 12px;
}

#footerSection {
	color: #d0d7de;
	margin-left: 35px;
	background-color: #555353;
	padding: .2em;
	text-shadow: black 0.1em 0.1em 0.2em;
}

body {
	font-family: Helvetica;
	font-size: 12px;
	color: #555353;
	background-color: #d0d7de;
	margin-top: 10 px;
}

.ui-dialog {
	font-family: Helvetica;
	color: white;
	background-color: #31216A;
	font-size: 20px;
	width: 200px;
	height: 100px;
}

.ui-dialog ul{
	list-style-type:none;
	margin-left: 5px;
}

.ui-dialog a{
	color: white;
}
.ui-dialog a:visited{
	color: yellow;
}
.ui-dialog a:link{
	text-decoration: none;
}

.ui-dialog-titlebar {
	height:30px;
	color: white;
	background-color: #555353;
}

.ui-dialog-title {
}

.ui-dialog-titlebar-close {
display: none;
}
