<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">


	<bean id="userValidator" class="org.deel.validator.UserValidator" />
	<bean id="userService" class="org.mockito.Mockito" factory-method="mock">
		<constructor-arg value="org.deel.service.UserService" />
	</bean>

	<!-- <security:http> -->
	<!-- <security:intercept-url pattern="/login*" -->
	<!-- access="IS_AUTHENTICATED_ANONYMOUSLY" /> -->
	<!-- <security:intercept-url pattern="/**" access="ROLE_USER" /> -->
	<!-- <security:form-login login-page='/login' -->
	<!-- login-processing-url="/loginP" /> -->
	<!-- <security:logout logout-url="/logout" /> -->
	<!-- </security:http> -->

	<!-- <security:authentication-manager> -->
	<!-- <security:authentication-provider -->
	<!-- ref="daoAuthenticationProvider" /> -->
	<!-- </security:authentication-manager> -->

	<!-- <bean id="daoAuthenticationProvider" -->
	<!-- class="org.springframework.security.authentication.dao.DaoAuthenticationProvider"> -->
	<!-- <property name="userDetailsService" ref="inMemoryDaoImpl" /> -->
	<!-- <property name="passwordEncoder" ref="passwordEncoder" /> -->
	<!-- </bean> -->

	<!-- <bean id="passwordEncoder" -->
	<!-- class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" 
		/> -->

	<!-- <security:user-service id="inMemoryDaoImpl"> -->
	<!-- <security:user name="asd" -->
	<!-- password="$2a$10$iy.hJkQwifCDS9P85qgoHOfLZp4yVopZ/LFq9DslLVvTUgJArKK9e" -->
	<!-- authorities="ROLE_USER" /> -->
	<!-- </security:user-service> -->

	<!-- <bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" -->
	<!-- destroy-method="close"> -->
	<!-- <property name="driverClassName" value="org.hsqldb.jdbcDriver" /> -->
	<!-- <property name="url" value="jdbc:hsqldb:hsql://localhost:9001" /> -->
	<!-- <property name="username" value="sa" /> -->
	<!-- <property name="password" value="" /> -->
	<!-- </bean> -->

	<!-- <bean id="mySessionFactory" -->
	<!-- class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"> -->
	<!-- <property name="dataSource" ref="myDataSource" /> -->


	<!-- <property name="hibernateProperties"> -->
	<!-- <value> -->
	<!-- hibernate.dialect=org.hibernate.dialect.HSQLDialect -->
	<!-- </value> -->
	<!-- </property> -->
	<!-- </bean> -->

</beans>
